In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [94]:
data = pd.read_csv('kidney_disease.csv')

In [95]:
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [96]:
data.drop('id', axis =1, inplace =True)
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [97]:
data.dtypes

age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [98]:
features = data.columns
features

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [99]:
obj_features = np.array([])
numeric_features = np.array([])

for feature in features:
    if data[feature].dtypes == object:
        obj_features = np.append(obj_features, feature)
    else:
        numeric_features = np.append(numeric_features, feature)

In [100]:
for feature in obj_features:
    print(feature, ': ', data[feature].unique(), '\n')

rbc :  [nan 'normal' 'abnormal']

pc :  ['normal' 'abnormal' nan]

pcc :  ['notpresent' 'present' nan]

ba :  ['notpresent' 'present' nan]

pcv :  ['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' nan '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']

wc :  ['7800' '6000' '7500' '6700' '7300' nan '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']

rc :  ['5.2' nan '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']

htn :  ['yes' 'no' nan]

dm :  ['yes' 'no' ' yes' '\tno' '\tyes' nan]

cad :  ['no' 'yes' '\tno' nan]

appet :  ['good' 'poor' nan]

pe :  ['no' 'yes' nan]

ane :  ['no' 'yes' nan]

classification :  ['ckd' 'ckd\t' 'notckd']

In [101]:
data['wc'] = pd.to_numeric(data['wc'], errors='coerce')
data['rc'] = pd.to_numeric(data['rc'], errors='coerce')
data['pcv'] = pd.to_numeric(data['pcv'], errors='coerce')

In [102]:
obj_features = np.array([])
numeric_features = np.array([])

for feature in features:
    if data[feature].dtypes == object:
        obj_features = np.append(obj_features, feature)
    else:
        numeric_features = np.append(numeric_features, feature)

In [103]:
for feature in obj_features:
    print(feature, ': ', data[feature].unique(), '\n')

rbc :  [nan 'normal' 'abnormal']

pc :  ['normal' 'abnormal' nan]

pcc :  ['notpresent' 'present' nan]

ba :  ['notpresent' 'present' nan]

htn :  ['yes' 'no' nan]

dm :  ['yes' 'no' ' yes' '\tno' '\tyes' nan]

cad :  ['no' 'yes' '\tno' nan]

appet :  ['good' 'poor' nan]

pe :  ['no' 'yes' nan]

ane :  ['no' 'yes' nan]

classification :  ['ckd' 'ckd\t' 'notckd']

In [104]:
data = data.replace({'dm':{'\tno':'no', '\tyes':'yes', ' yes':'yes'} ,'cad':{'\tno':'no'}, 'classification':{'ckd\t':'ckd'}})

In [105]:
for feature in obj_features:
    print(feature, ': ', data[feature].unique(), '\n')

rbc :  [nan 'normal' 'abnormal']

pc :  ['normal' 'abnormal' nan]

pcc :  ['notpresent' 'present' nan]

ba :  ['notpresent' 'present' nan]

htn :  ['yes' 'no' nan]

dm :  ['yes' 'no' nan]

cad :  ['no' 'yes' nan]

appet :  ['good' 'poor' nan]

pe :  ['no' 'yes' nan]

ane :  ['no' 'yes' nan]

classification :  ['ckd' 'notckd']

In [106]:
print('Null values count in Numerical Features \n')

for i in numeric_features:
    print(i, ': ', data[i].isna().sum())

Null values count in Numerical Features

age :  9
bp :  12
sg :  47
al :  46
su :  49
bgr :  44
bu :  19
sc :  17
sod :  87
pot :  88
hemo :  52
pcv :  71
wc :  106
rc :  131

In [107]:
for i in numeric_features:
    data[i].fillna(data[i].mean(), inplace =True)

for i in numeric_features:
    print(i, ': ', data[i].isna().sum())
    
data.head(20)

age :  0
bp :  0
sg :  0
al :  0
su :  0
bgr :  0
bu :  0
sc :  0
sod :  0
pot :  0
hemo :  0
pcv :  0
wc :  0
rc :  0

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.000000,1.020000,1.000000,0.000000,NaN,normal,notpresent,notpresent,121.000000,...,44.000000,7800.000000,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.000000,1.020000,4.000000,0.000000,NaN,normal,notpresent,notpresent,148.036517,...,38.000000,6000.000000,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.000000,1.010000,2.000000,3.000000,normal,normal,notpresent,notpresent,423.000000,...,31.000000,7500.000000,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.000000,1.005000,4.000000,0.000000,normal,abnormal,present,notpresent,117.000000,...,32.000000,6700.000000,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.000000,1.010000,2.000000,0.000000,normal,normal,notpresent,notpresent,106.000000,...,35.000000,7300.000000,4.600000,no,no,no,good,no,no,ckd
5,60.0,90.000000,1.015000,3.000000,0.000000,NaN,NaN,notpresent,notpresent,74.000000,...,39.000000,7800.000000,4.400000,yes,yes,no,good,yes,no,ckd
6,68.0,70.000000,1.010000,0.000000,0.000000,NaN,normal,notpresent,notpresent,100.000000,...,36.000000,8406.122449,4.707435,no,no,no,good,no,no,ckd
7,24.0,76.469072,1.015000,2.000000,4.000000,normal,abnormal,notpresent,notpresent,410.000000,...,44.000000,6900.000000,5.000000,no,yes,no,good,yes,no,ckd
8,52.0,100.000000,1.015000,3.000000,0.000000,normal,abnormal,present,notpresent,138.000000,...,33.000000,9600.000000,4.000000,yes,yes,no,good,no,yes,ckd
9,53.0,90.000000,1.020000,2.000000,0.000000,abnormal,abnormal,present,notpresent,70.000000,...,29.000000,12100.000000,3.700000,yes,yes,no,poor,no,yes,ckd
10,50.0,60.000000,1.010000,2.000000,4.000000,NaN,abnormal,present,notpresent,490.000000,...,28.000000,8406.122449,4.707435,yes,yes,no,good,no,yes,ckd
11,63.0,70.000000,1.010000,3.000000,0.000000,abnormal,abnormal,present,notpresent,380.000000,...,32.000000,4500.000000,3.800000,yes,yes,no,poor,yes,no,ckd
12,68.0,70.000000,1.015000,3.000000,1.000000,NaN,normal,present,notpresent,208.000000,...,28.000000,12200.000000,3.400000,yes,yes,yes,poor,yes,no,ckd
13,68.0,70.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,98.000000,...,38.884498,8406.122449,4.707435,yes,yes,yes,poor,yes,no,ckd
14,68.0,80.000000,1.010000,3.000000,2.000000,normal,abnormal,present,present,157.000000,...,16.000000,11000.000000,2.600000,yes,yes,yes,poor,yes,no,ckd
15,40.0,80.000000,1.015000,3.000000,0.000000,NaN,normal,notpresent,notpresent,76.000000,...,24.000000,3800.000000,2.800000,yes,no,no,good,no,yes,ckd
16,47.0,70.000000,1.015000,2.000000,0.000000,NaN,normal,notpresent,notpresent,99.000000,...,38.884498,8406.122449,4.707435,no,no,no,good,no,no,ckd
17,47.0,80.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,114.000000,...,38.884498,8406.122449,4.707435,yes,no,no,poor,no,no,ckd
18,60.0,100.000000,1.025000,0.000000,3.000000,NaN,normal,notpresent,notpresent,263.000000,...,37.000000,11400.000000,4.300000,yes,yes,yes,good,no,no,ckd
19,62.0,60.000000,1.015000,1.000000,0.000000,NaN,abnormal,present,notpresent,100.000000,...,30.000000,5300.000000,3.700000,yes,no,yes,good,no,no,ckd

In [108]:
# replace cat
print('Null values count in Categorical Features \n')

for i in obj_features:
    print(i, ': ', data[i].isna().mean())

Null values count in Categorical Features

rbc :  0.38
pc :  0.1625
pcc :  0.01
ba :  0.01
htn :  0.005
dm :  0.005
cad :  0.005
appet :  0.0025
pe :  0.0025
ane :  0.0025
classification :  0.0

In [109]:
data = data.drop('rbc', axis=1)

In [110]:
data = data.apply(lambda x: x.fillna(x.value_counts().index[0]))
data

,age,bp,sg,al,su,pc,pcc,ba,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,normal,notpresent,notpresent,121.000000,36.0,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,notpresent,notpresent,148.036517,18.0,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,notpresent,notpresent,423.000000,53.0,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,abnormal,present,notpresent,117.000000,56.0,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,notpresent,notpresent,106.000000,26.0,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,notpresent,notpresent,140.000000,49.0,...,47.0,6700.0,4.900000,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,notpresent,notpresent,75.000000,31.0,...,54.0,7800.0,6.200000,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,notpresent,notpresent,100.000000,26.0,...,49.0,6600.0,5.400000,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,notpresent,notpresent,114.000000,50.0,...,51.0,7200.0,5.900000,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,notpresent,notpresent,131.000000,18.0,...,53.0,6800.0,6.100000,no,no,no,good,no,no,notckd

In [111]:
obj_features = np.array([])
numeric_features = np.array([])

for feature in data.columns:
    if data[feature].dtypes == object:
        obj_features = np.append(obj_features, feature)
    else:
        numeric_features = np.append(numeric_features, feature)

In [112]:
for i in obj_features:
    print(i, ': ', data[i].isna().sum())

pc :  0
pcc :  0
ba :  0
htn :  0
dm :  0
cad :  0
appet :  0
pe :  0
ane :  0
classification :  0

In [113]:
from sklearn import preprocessing   

label = preprocessing.LabelEncoder() 

for i in obj_features:
    data[i]= label.fit_transform(data[i])